body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#5FCCCF; 
}


.weather-app {
  text-align: center;
  background:#083F42;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  color: white;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  max-width: 300px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.weather-icon{
  width:150px;
  margin: 30px 0;
}


button:hover {
  background-color: #0056b3;
}

.weather-info {
  margin-top: 20px;
  font-size:30px;
  color: #007bff;
  font-style: Times;
}

.weather-info h2 {
  margin-bottom: 10px;
  font-size:20px;
  color:white;
}
